body {
    background: white;
  }
  p {
    color: black;
  }
  h1 {
    font-weight: bold;
    color: blue
  }
  h3{
    color: rgb(93, 17, 165)
  }
  h2{
    color: blueviolet
  }

  body {
    background: #FFFFFF;
}
h1{
    color: #000;
}
nav ul {
    width: 80px;

    clear: both;
    height: 0px;

    opacity: 0;
    transition: all 1s linear, width 1s, heigth 1s, opacity 0.5s;

}
.abrir{
    float: left;
    clear: both;
}

nav:hover ul {
    height: 24px;
    width: 100%;
    opacity: 1;
    transition: all 2s linear, width 1s, heigth 1s, opacity 2s;
}

nav ul li {
    line-height: 1.5;
    float: left;
    margin: 0px 10px;

    background: rgb(2,0,36);
    background: linear-gradient(170deg, rgba(2,0,36,1) 0%, rgba(110,9,121,0.9051995798319328) 52%, rgba(0,212,255,1) 100%);
    display: block;
    padding: 10px 20px;
    margin-bottom: 10px;
}

nav ul li a{
    color: #FFFFFF;
    text-decoration: none;
}
corpo{
    background-color: aquamarine;
  }